div {
    padding: 40px;
    background-color:beige;
    width:fit-content;
    min-width: 500px;
    border-radius: 30px;
}

h1 {
    color: blue;
}

.boxed {
    border: black 1px solid;
    padding: 15px;
    min-width: 200px;
    border-radius: 15px;
    padding-bottom: 20px;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.spacer {
    height: 30px;
}

#author {
    min-width: 600px;
}

#uName {
    font-weight: bold;
}

#commentArea {
    vertical-align: top;
    min-width: 500px;
}